#contact {
  text-align: center;
  // min-height: 500px;
  margin-bottom: 150px;

  .title-chip {
    color: var(--blue-color);
    font-size: 14px;
    .code-number {
      font-family: var(--font-sp-mono);
    }
  }

  .contact-content {
    h3 {
      margin-top: 10px;
      font-size: 64px;

      @include mobile {
        font-size: 50px;
      }
    }

    p {
      max-width: 500px;
      margin: 20px auto;
      color: var(--gray-color-light);
      font-size: 18px;
    }

    &.contact-content--hide {
      display: none;
    }

    &.contact-content--show {
      display: block;
    }

    .form {
      // background-color: red;
      margin: 60px auto;
      max-width: 700px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;
      display: grid;
      grid-template-areas:
        "name email"
        "message message"
        "button button";

      label {
        color: var(--gray-color-lights);
        font-size: calc(10px + 0.5vw);

        p {
          text-align: left;
          margin: 0 0 10px 0;
          font-family: var(--font-sp-mono);
          font-size: 14px;
        }

        input,
        textarea {
          font-family: var(--font-sp-mono);
          width: 100%;
          padding: 0.6rem 1rem;
          background-color: transparent;
          outline: none;
          border: 2px solid var(--blue-color);
          border-radius: 5px;
          color: var(--white-color);
          font-size: calc(8px + 0.5vw);
          resize: none;
          max-height: 200px;

          &:focus {
            transition: 200ms;
            background: rgba(0, 89, 255, 0.103);
          }

          &:hover {
            transition: 200ms;
            background: rgba(0, 89, 255, 0.103);
          }
        }
      }

      #name {
        grid-area: name;
      }
      #email {
        grid-area: email;
      }
      #message {
        grid-area: message;
      }

      button {
        grid-area: button;
        display: flex;
        margin-top: 20px;
        width: fit-content;

        .spinner {
          position: relative;
          width: 25px;
          padding-top: 12px;
          margin-left: 10px;
          display: none;

          -webkit-animation: rotation 0.6s infinite linear;
          animation: rotation 0.6s infinite linear;
          border-left: 1px solid rgba(0, 174, 239, 0.15);
          border-right: 1px solid rgba(0, 174, 239, 0.15);
          border-bottom: 1px solid rgba(0, 174, 239, 0.15);
          border-top: 1px solid rgba(0, 174, 239, 0.8);
          border-radius: 100%;
        }

        &.btn--loading {
          .spinner {
            display: flex;
          }
        }
        @-webkit-keyframes rotation {
          from {
            -webkit-transform: rotate(0deg);
          }
          to {
            -webkit-transform: rotate(359deg);
          }
        }

        @-moz-keyframes rotation {
          from {
            -moz-transform: rotate(0deg);
          }
          to {
            -moz-transform: rotate(359deg);
          }
        }

        @-o-keyframes rotation {
          from {
            -o-transform: rotate(0deg);
          }
          to {
            -o-transform: rotate(359deg);
          }
        }

        @keyframes rotation {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(359deg);
          }
        }
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateY(-100px);
      }

      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  .form-message {
    text-align: center;
    animation: fadeIn 300ms linear;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.form-message--hide {
      display: none;
    }

    &.form-message--show {
      display: flex;
    }

    .form-message__title {
      color: var(--white-color);
      margin-top: 10px;
      font-size: 32px;

      @include mobile {
        font-size: 24px;
      }
    }

    .form-message__message {
      font-family: var(--font-sp-mono);
      max-width: 500px;
      margin: 20px auto 30px;
      color: var(--gray-color-light);
      font-size: 18px;
    }
  }
}

.svg-success {
  display: inline-block;
  vertical-align: top;
  height: 150px;
  width: 150px;
  opacity: 1;
  overflow: visible;

  @keyframes success-tick {
    0% {
      stroke-dashoffset: 16px;
      opacity: 1;
    }

    100% {
      stroke-dashoffset: 31px;
      opacity: 1;
    }
  }

  @keyframes success-circle-outline {
    0% {
      stroke-dashoffset: 72px;
      opacity: 1;
    }

    100% {
      stroke-dashoffset: 0px;
      opacity: 1;
    }
  }

  @keyframes success-circle-fill {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .success-tick {
    fill: none;
    stroke-width: 1px;
    stroke: #ffffff;
    stroke-dasharray: 15px, 15px;
    stroke-dashoffset: -14px;
    animation: success-tick 450ms ease 1400ms forwards;
    opacity: 0;
  }

  .success-circle-outline {
    fill: none;
    stroke-width: 1px;
    stroke: var(--blue-color);
    stroke-dasharray: 72px, 72px;
    stroke-dashoffset: 72px;
    animation: success-circle-outline 300ms ease-in-out 800ms forwards;
    opacity: 0;
  }

  .success-circle-fill {
    fill: var(--blue-color);
    stroke: none;
    opacity: 0;
    animation: success-circle-fill 300ms ease-out 1100ms forwards;
  }

  // Can't animate stroke-dashoffset on IE 10 and 11, just show svg instead
  @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
    .success-tick {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      animation: none;
      opacity: 1;
    }

    .success-circle-outline {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      animation: none;
      opacity: 1;
    }

    .success-circle-fill {
      animation: none;
      opacity: 1;
    }
  }
}
