footer {
  text-align: center;
  height: 80px;
  font-family: var(--font-sp-mono);
  font-size: 13px;
  a {
    &.nav {
      color: var(--gray-color-ligth);
    }
  }
  @include mobile {
    height: 100px;
  }

  .social-list {
    display: none;
    list-style: none;
    justify-content: center;

    li {
      margin: 0 10px;
      margin-bottom: 10px;

      a {
        font-size: 16px;
      }
    }
    @include mobile() {
      display: flex;
    }
  }
}
