#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;

  .typewriter {
    .title-home {
      font-family: var(--font-fira-code);
      font-size: 178px;
      margin: -20px 0;

      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 2px solid rgba(255, 255, 255, 0.75); /* The typwriter cursor */
      white-space: nowrap;
      animation: typing 2.5s steps(30, end), blink-caret .75s step-end infinite;

      @include tablet {
        font-size: 93px;
        margin-bottom: 10px;
        margin-top: 0;
      }

      @include mobile {
        font-size: 55px;
      }

      @include s-mobile {
        font-size: 35px;
      }
    }
  }

  .subtitle-home {
    color: var(--gray-color);
    font-size: 42px;
    @include tablet {
      font-size: 24px;
    }
  }

  .description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
    max-width: 465px;
    color: var(--gray-color-ligth);

    @include tablet {
      margin-top: 0;
      font-size: 18px;
    }

    @include mobile {
      font-size: 14px;
    }
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(255, 255, 255, 0.75);
  }
}
