#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  width: 100vw;
  position: fixed;
  transition: top 600ms;
  z-index: 90;

  @include mobile {
    padding: 20px 20px;
    h1 {
      font-size: 25px;
    }
  }

  h1 {
    animation-name: fadeInDown;
    animation-duration: 2s;
    transition: 300ms;
    animation-fill-mode: backwards;
    font-family: var(--font-fira-code);
    &:hover {
      transform: rotate(-10deg);
    }
  }

  ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: decimal-leading-zero;

    li {
      text-align: center;
      list-style-position: inside;
      color: var(--blue-color);
      font-family: var(--font-sp-mono);
      margin-left: 20px;
      font-size: 14px;

      &:last-child {
        list-style-type: none;
      }
    }

    @include mobile {
      display: none;
    }
  }

  .menu-hamburger {
    button {
      outline: none;
      background: transparent;
      border: none;
      #nav-icon1 {
        width: 35px;
        height: 20px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
      }

      #nav-icon1 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: var(--white-color);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }

      #nav-icon1 span:nth-child(1) {
        top: 0px;
      }

      #nav-icon1 span:nth-child(2) {
        top: 10px;
      }

      #nav-icon1 span:nth-child(3) {
        top: 20px;
      }

      #nav-icon1.open span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      #nav-icon1.open span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }

    @include desktop {
      display: none;
    }

    @include mobile {
      display: block;
    }
  }
}
