<section id='about' class='container'>
  <div class='title-section reveal'>
    <h2>
      <span class='code-number'>01.</span>{" "}
      <a href='#about' class='nav'> About me</a>
    </h2>
    <span class='line-title'></span>
  </div>
  <div class='about-content'>
    <div class='about-content__text reveal'>
      <p>
        Hi my name is
        <a
          href='https://www.linkedin.com/in/axel-mu%C3%B1oz/'
          class='line'
          target='_blank'
        >
          <b>Axel Muñoz</b>
        </a>, I am a Fullstack Developer residing in Peru, with 3 years of
        experience in the software industry. Being the <b>web</b> my main development
        focus.
      </p>
      <p>
        I remember when I created my first hello world, it was when I created my
        first robotics project, my project was about getting the height of a
        person with
        <a href='https://www.arduino.cc/' class='line'>
          <b>arduino</b>
        </a>and ultrasonic sensors, I love integrating software with hardware to
        solve people&apos;s problems<span id='dots'>...</span>
      </p>

      <!-- Read more section -->
      <div id='more'>
        <p>
          I also passionate about the world of videogames for which to develop
          videogames🕹️, I make videogames on the web with native or phaser web
          technologies, and I also use
          <a href='https://unity.com/' class='line' target='_blank'>
            <b>Unity</b>
          </a>in some projects.
        </p>
        <p>
          More about me? Well..., I'm passionate about urban genre (music,
          fashion 🐐), I love cars, and my goal is to buy or fix one, and as
          some say, I'm a gym rat.
        </p>
        <p>
          Some technologies with which I have built this and other amazing
          websites or web applications:
        </p>
      </div>
      <button class='btn btn--more'>Read more</button>
      <ul>
        <li>TypeScript</li>
        <li>C# & .Net</li>
        <li>Node JS</li>
        <li>AWS</li>
        <li>Next JS</li>
        <li>Sql & noSql</li>
      </ul>
    </div>
    <div class='about-content__image reveal'>
      <div class='content-image'>
        <img
          width={240}
          height={240}
          src={"/profile.webp"}
          alt='profile-photo'
        />
      </div>
    </div>
  </div>
</section>

<script>
  const btnText = document.querySelector(".btn--more") as HTMLButtonElement;
  btnText.addEventListener("click", showHideMore);

  function showHideMore() {
    const dots = document.getElementById("dots") as HTMLSpanElement;
    const moreText = document.getElementById("more") as HTMLDivElement;

    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more";
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less";
      moreText.style.display = "inline";
    }
  }
</script>
