<section id='contact' class='container reveal'>
  <h2 class='title-chip reveal'>
    <span class='code-number'>05.</span>
    {"What's next?"}
  </h2>
  <div class='contact-content reveal'>
    <h3>Contact me!</h3>
    <p>
      I am currently looking for new challenges and projects. If you are
      interested in working with me, send me a message by clicking the button
      below.
    </p>
    <a href='mailto:axelskam.123@outlook.es' class='btn' target='_blank'>
      Hello!
    </a>
  </div>
</section>
