<section id='home'>
  <h1 class='subtitle-home animate__animated animate__fadeInDown'>
    I build things for the web.
  </h1>
  <h2 class='animate__animated animate__fadeInDown animate__slow title-home'>
    YoungFlex
  </h2>
  <p class='description animate__animated animate__fadeInDown animate__slow'>
    I am a Fullstack Developer specialized in building (and occasionally in
    design) of amazing web experiences and software development.
  </p>
  <a
    class='animate__animated animate__fadeInDown btn'
    href='mailto:axelskam.123@outlook.es'
  >
    Contact me!
  </a>
</section>
