---
import { projects } from "../../utils/profile";
import ProjectCard from "../ProjectCard.astro";
---

<section id='projects' class='container'>
  <div class='title-section reveal'>
    <h2>
      <span class='code-number'>03.</span>
      <a href='#about' class='nav'> Some Things I&apos;ve Built</a>
    </h2>
    <span class='line-title'></span>
  </div>
  {
    projects.map((project, index) => (
      <ProjectCard project={project} rigth={index % 2 === 0} />
    ))
  }
</section>
