---
import { projects } from "../../utils/profile";
import { ListProjects } from "../ListProjects";
---

<section id='projects' class='container'>
  <div class='title-section reveal'>
    <h2>
      <span class='code-number'>03.</span>
      <a href='#projects' class='nav'> Some Things I&apos;ve Built</a>
    </h2>
    <span class='line-title'></span>
  </div>
  <ListProjects projects={projects} client:load />
</section>