---
import { VerticalTabs } from "../VerticalTabs";
import { jobs } from "../../utils/profile";
---

<section id='work' class='container'>
  <div class='title-section reveal'>
    <h2>
      <span class='code-number'>02.</span> Where I worked?
    </h2>
    <span class='line-title'></span>
  </div>
  <div class='work-content reveal'>
    <VerticalTabs works={jobs} client:idle />
  </div>
</section>