---
import { menu } from "../utils/profile";
import Logo from "./Logo.astro";
---

<aside>
  <div class='background-close hide-slide'></div>
  <nav>
    <div class='hide-slide'>
      <Logo />
    </div>
    <ol>
      {
        menu.map((item, index) => (
          <li
            class={`animate__animated animate__fadeInDown`}
            style={{ animationDelay: `${(index + 1) / 4}s` }}
          >
            <a
              class={!!item.styleCustom ? "btn hide-slide" : "nav hide-slide"}
              href={item.link}
            >
              {item.title}
            </a>
          </li>
        ))
      }
    </ol>
  </nav>
</aside>

<script>
  import { AsideEffect } from "../helpers/AsideEffect";
  const { hideSlide } = AsideEffect();

  const links = document.getElementsByClassName(
    "hide-slide"
  ) as HTMLCollectionOf<Element>;

  for (let index = 0; index < links.length; index++) {
    const link = links[index];
    link.addEventListener("click", hideSlide);
  }
</script>
