<form id='form' class='form' data-origin={Astro.url.origin}>
  <label id="name">
    <p>Who are you?</p>
    <input name='name' type='text' required placeholder="I'm a robot" /></label
  >
  <label id="email">
    <p>Your mail is...</p>
    <input name='email' type='email' required placeholder="robot@wise.com" /></label
  >

  <label id="message">
    <textarea name='message' rows='6' maxlength='200' required placeholder="Write your message..."></textarea>
  </label>

  <button class='btn btn--more' id='form-submit' type='submit'
    >Let's talk! <div class="spinner"></div></button
  >
</form>

<script>
  const form = document.querySelector<HTMLFormElement>(".form")!;
  const formMessage = document.querySelector<HTMLDivElement>(".form-message")!;
  const contactContent = document.querySelector<HTMLDivElement>(".contact-content")!;

  const handleSubmit = async (event: SubmitEvent) => {
    event.preventDefault();

    const submitBtn = document.querySelector(
      "#form-submit"
    ) as HTMLButtonElement;

    submitBtn.disabled = true;
    submitBtn.classList.add("btn--loading")

    const myForm = event.target as HTMLFormElement;
    myForm.classList.add("disabled");

    const formData = new FormData(myForm);

    await fetch(form.dataset.origin + "/api/form", {
      method: "POST",
      body: formData,
    });

    myForm.reset();
    submitBtn.disabled = false;
    submitBtn.classList.remove("btn--loading")
    form.style.display = "none";
    formMessage.classList.replace("form-message--hide", "form-message--show");
    contactContent.classList.replace("contact-content--show", "contact-content--hide");
  };

  form.addEventListener("submit", handleSubmit);
</script>
